---
import Layout from "../layouts/Layout.astro";
import SiderBarLeft from "../components/SiderBarLeft.astro";
import SiderBarRight from "../components/SiderBarRight.astro";
import "../assets/iconfont.css";
---

<Layout title="Suimu Resume">
  <div class="mt-6 max-w-screen-lg md:flex mx-auto">
    <SiderBarLeft></SiderBarLeft>
    <SiderBarRight></SiderBarRight>
  </div>
</Layout>
