---
import Header from './Header.astro';
import { Education } from "../components/Education";
import config from "../../meta.config";
const { education, educationExperience } = config;
---

<div class="mx-4">
  <Header name={educationExperience}></Header>
  <ul>
    <li class="mb-6 flex justify-between">
      {
        education.map((name) => {
          return <Education name={name} client:load />;
        })
      }
    </li>
  </ul>
</div>
