---
import WorkExperience from "./WorkExperience.astro";
import ProjectExperience from "./ProjectExperience.astro";
import SkillExperience from "./SkillExperience.astro";
import EducationExperience from "./EducationExperience.astro";
---

<div class="md:w-2/3 p-2 w-full">
  <WorkExperience></WorkExperience>
  <ProjectExperience></ProjectExperience>
  <SkillExperience></SkillExperience>
  <EducationExperience></EducationExperience>
</div>
