---
import Header from './Header.astro';
import { Skill } from "../components/Skill";
import config from "../../meta.config";
const { skills, skillExperience } = config;
---
<div class="mx-4">
  <Header name={skillExperience}></Header>
  <ul>
    <li class="mb-6 flex flex-wrap">
      {
        skills.map((name) => {
          return <Skill name={name} client:load />;
        })
      }
    </li>
  </ul>
</div>
