---
import Header from './Header.astro';
import config from "../../meta.config";
const { workExperience } = config;
---
<div class="mx-4">
  <Header name={workExperience}></Header>
  <ul>
    <li class="mb-4">
      <h3 class="text-xl font-medium text-gray-800">金蝶集团(深圳)</h3>
      <div>
        <i class="bx bx-calendar text-sm" style="color: #666"></i>
        <small class="text-sm text-gray-600">2019年12月 - 2021年12月</small>
      </div>
      <div class="mt-1">
        <div>
          <p>工作职责：</p>
          <p>1.参与工业互联网平台的开发，包括云镝官网以及各大地方平台(1+N的产品模式)的研发，并完整参与到官网1.0到3.0的整个网站改版。负责官网(www.yundeeiot.com)SSR服务端渲染改造，以利于SEO和网页首屏加载。</p>
          <p>2.参与工业互联网平台统一认证中心的研发，以SSO单点登录和微信OAuth2.0登录的形式进行登录鉴权。</p>   
          <p>3.地方经济运行监测平台(https://www.yundeeiot.com/PlatformNav)和体验中心的3D可视化展示(https://demo.yundeeiot.com/experienceCenter)。</p>   
          <p>4.云镝智慧助手小程序开发。</p>   
          <p>技术栈：vue、vuex、vue-router、axios、koa、vue-server-renderer、echarts、three.js、CSS3动画、web-view</p>   
        </div>
      </div>
    </li>
    <li class="mb-4">
      <h3 class="text-xl font-medium text-gray-800">深圳陶赟信息科技(深圳)</h3>
      <div>
        <i class="bx bx-calendar text-sm" style="color: #666"></i>
        <small class="text-sm text-gray-600">2019年08月 - 2019年12月</small>
      </div>
      <div class="mt-1">
        <div>
          <p>工作职责：</p>
          <p>1.参与开发众安银行APP(在香港应用商店上架)，因那时候香港问题使app发行受阻，引起人员调整。</p>
          <p>2.参与App中存款模块、利息优惠券模块、贷款模块的开发工作。使用H5页面完成协议页和宣传页的编写。</p>    
          <p>技术栈：React Native、webview嵌套H5、flex布局</p>   
        </div>
      </div>
    </li>
    <li class="mb-4">
      <h3 class="text-xl font-medium text-gray-800">网新恒天软件(上海)</h3>
      <div>
        <i class="bx bx-calendar text-sm" style="color: #666"></i>
        <small class="text-sm text-gray-600">2017年05月 - 2019年07月</small>
      </div>
      <div class="mt-1">
        <div>
          <p>工作职责：</p>
          <p>1.参与思科中国OneIdentity 项目 (enrollment UI、profile UI、recovery UI)等三个子项目的开发。</p>  
          <p>技术栈：react、redux、redux-thunk、react-redux、react-bootstrap 、HOC高阶组件</p>   
        </div>
      </div>
    </li>
    <li class="mb-4">
      <h3 class="text-xl font-medium text-gray-800">土建设计院(上海)</h3>
      <div>
        <i class="bx bx-calendar text-sm" style="color: #666"></i>
        <small class="text-sm text-gray-600">2013年07月 - 2016年10月</small>
      </div>
      <div class="mt-1">
        <div>
          <p>工作职责：</p>
          <p>使用PKPM或者广厦软件进行建筑结构受力分析，恒荷载、活荷载、风荷载和地震作用分析并进行受力包络分析，完成结构选型，确定钢筋混凝土的尺寸、标号等，并最终用CAD绘制结构施工图纸。</p>    
        </div>
      </div>
    </li>
  </ul>
</div>
